/*	Typography presets
  ------------------------------------	*/


/* Links
  ------------------------------------	*/
a
  color: rgba(0,0,0,0.5)
  /*background-color: rgba(88,108,144,1.0)*/
  text-decoration: none
  outline: 0

a:hover
  color: rgba(0,0,0,1.0)


/* Selection colors (easy to forget)
  ------------------------------------	*/





/* Basic Styles
  ------------------------------------	*/
