<section id="about">

  <h2>About Us</h2>
  <p>Last spring we both graduated from VCU and spent almost every
    free weekend backpacking in Virginia's Blue Ridge Mountains.
    This year, we spent the month of May hiking in the Austrian Alps, and in
    July we set off on our biggest adventure yet - driving from coast
    to coast and back!</p>
  <p>To plan for our trip, we (well, mostly Michael), spent some time
    deciding where to stop. Almost all of our destinations were National
    Parks, and our golden ticket was the America the Beautiful pass.
    Administered by the National Park Service, the pass covers entrance
    fees at more than 2,000 federal recreation sites across the country.
    Buying the pass was well worth it; it more than paid for itself over
    the course of our trip. (Just a tip: if you ever decide to travel
    across the country using an America the Beautiful pass, don't leave
    it at home. Luckily, we realized our mistake just as we were passing
    Charlottesville, VA. Going back home to get it only cost us 3 hours. A
    great way to start our 18-hour day 1!)</p>
  <p>Our hike into the Grand Canyon required a permit for which we had
    to apply a few months in advance, but for the most part we didn't
    make any campground reservations. We played it by ear and kept our
    driving plans flexible. We never had any time to sleep in - we typically
    broke down camp and hit the road (or the trail) by 6 in the morning.
    But the early rising and long days in the car (or on our feet) were well
    worth it. In the evenings we setup the hammock and relaxed in some
    of the most beautiful places in the country.</p>
  <p>We hope you enjoy our pictures,</p>
  <p>M&T</p>
  <img src="/../assets/img/About.jpg"/>
</section>
