<section class="postsList">
  <ul class="posts-lockup">
    <li class="icon-maroon">
      <a href="">
        <p>Maroon Peak</p>
      </a>
    </li>
    <li class="icon-arches">
      <a href="">
        <p>Arches</p>
      </a>
    </li>
    <li class="icon-grandCanyon">
      <a href="">
        <p>Grand Canyon</p>
      </a>
    </li>
    <li class="icon-sequoia">
      <a href="">
        <p>Sequoia</p>
      </a>
    </li>
    <li class="icon-yosemite">
      <a href="">
        <p>Yosemite</p>
      </a>
    </li>
    <li class="icon-sf">
      <a href="">
        <p>San Francisco</p>
      </a>
    </li>
    <li class="icon-redwood">
      <a href="">
        <p>Redwood</p>
      </a>
    </li>
    <li class="icon-portland">
      <a href="">
        <p>Portland</p>
      </a>
    </li>
    <li class="icon-glacier">
      <a href="">
        <p>Glacier</p>
      </a>
    </li>
    <li class="icon-yellowstone">
      <a href="">
        <p>Yellowstone</p>
      </a>
    </li>
  </ul>
</section>
