<section class="postsList">
  <ul class="posts-lockup">
    <li class="icon-maroon"><p>Maroon Peak</p></li>
    <li class="icon-arches"><p>Arches</p></li>
    <li class="icon-grandCanyon"><p>Grand Canyon</p></li>
    <li class="icon-sequoia"><p>Sequoia</p></li>
    <li class="icon-yosemite"><p>Yosemite</p></li>
    <li class="icon-sf"><p>San Francisco</p></li>
    <li class="icon-redwood"><p>Redwood</p></li>
    <li class="icon-portland"><p>Portland</p></li>
    <li class="icon-glacier"><p>Glacier</p></li>
    <li class="icon-yellowstone"><p>Yellowstone</p></li>
  </ul>
</section>
