<section id="route">
  <h2>Route</h2>
  <img src="/../assets/img/xc-map.jpg"></img>
  <ul class="description">
    <li><b>A</b> to <b>B</b> - Richmond, VA -> Maroon Peak, Colorado - <strong>1834 miles, 34 hours</strong></li>
    <li>to<b> C</b> - Maroon Peak, CO -> Arches National Park, Utah - <strong>230 miles, 4.5 hours</strong></li>
    <li>to <b>D</b> - Arches, UT -> Grand Canyon South Rim, Arizona - <strong>335 miles, 6 hours</strong></li>
    <li>to <b>E</b> - Grand Canyon, AZ -> Sequoia National Park, California - <strong>620 miles, 10.5 hours</strong></li>
    <li>to <b>F</b> - Sequoia, CA -> Yosemite National Park, California - </strong>175 miles, 4.5 hours</strong></li>
    <li>to <b>G</b> - Yosemite, CA -> San Francisco, California - <strong>193 miles, 4.5 hours</strong></li>
    <li>to <b>H</b> - San Francisco, CA -> Redwood National Park, California - <strong>310 miles, 6 hours</strong></li>
    <li>to <b>I</b> - Redwood, CA -> Portland, Oregon - <strong>350 miles, 7.5 hours</strong></li>
    <li>to <b>J</b> - Portland, OR -> Glacier National Park, Montana - <strong>650 miles, 12 hours</strong></li>
    <li>to <b>K</b> - Glacier MT -> Yellowstone National Park, Wyoming - <strong>450 miles, 8.5 hours</strong></li>
    <li>to <b>L</b> - Yellowstone WY -> Somerset, Pennyslvanie - <strong>1950 miles, 33 hours</strong></li>
    <li>to <b>M</b> - Somerset, PA -> Richmond, Virginia - <strong>285 miles, 5 hours</strong></li>
  </ul>



</section>
