.postsList

  padding-top: 25px


  .posts-lockup
    max-width: 750px
    +display(flex)
    margin: 0 auto
    +align-items(center)
    +justify-content(space-between)

    p
      text-align: center
      padding-top: 180px
      text-transform: uppercase


    .icon-maroon
      order: 1
      +size(175px)
      border-radius: 50%
      background: url(/../assets/img/icons/icon-maroon.jpg)
      background-repeat: no-repeat
      background-position: 50%


    .icon-arches
      order: 2
      +size(175px)
      border-radius: 50%
      background-repeat: no-repeat
      background-position: 50%
      background: url(/../assets/img/icons/icon-arches.jpg)
